## Nested if

In [1]:
User = int(input("Enter the value:- "))
n=10
if(User>=n):
    print("Hello from the 1st if")
    if(User<=n):
        print("Hello From the 2nd if")
        if(User!=n):
            print("Hello from the 3rd if")
            if(User==n):
                print("Hello from the 4th if")

Enter the value:- 12
Hello from the 1st if

In [12]:
# using of nested if in python project 
def authenticate_user(username, password):
    if username == "admin":
        if password == "secret":
            print("Welcome, admin!")
        else:
            print("Incorrect password.")
    else:
        print("Invalid username.")

username = input("Enter your username: ")
password = input("Enter your password: ")

authenticate_user(username, password)

Enter your username: admin
Enter your password: pratham
Incorrect password.

## String practice

##### Creating the String

In [3]:
myStr = "String in python" # Double quotes written the String

In [4]:
myStr

'String in python'

In [5]:
myStr1 = 'String in python' #Single quotes written in string
myStr1

'String in python'

##### Accessing the String element in Python

In [6]:
str1 = "Software Engineer"
print(str1[0:-1])

Software Enginee

In [7]:
str1[::-2]

'rein rwfS'

In [8]:
str1[-10:-16:-1]

'erawtf'

In [9]:
str1[::-1]

'reenignE erawtfoS'

In [10]:
str1.split()[::-1]

['Engineer', 'Software']

In [11]:
User1 = str1[0:4]

In [12]:
User1

'Soft'

In [13]:
User2= str1[9:13]

In [14]:
User2

'Engi'

In [15]:
str1.split()[-1:-4]

[]

In [16]:
Store = str1.split()[::-1]

In [17]:
Store

['Engineer', 'Software']

In [18]:
Store[0:1]

['Engineer']

In [33]:
# All String Function 
joy_str = "Joy is Worked in the Microsoft"

In [46]:
joy_str[20:].upper()

' MICROSOFT'

In [47]:
# Original string
original_string = "hello world"

# Convert only "world" to uppercase
part1 = original_string[:6]  # "hello "
part2 = original_string[6:].upper()  # "WORLD"

result = part1 + part2
print(result)  # Output: hello WORLD

hello WORLD

In [57]:
joy_str.lower()

'joy is worked in the microsoft'

In [58]:
joy_str.replace("Microsoft","Google")

'Joy is Worked in the Google'

In [59]:
# Find the index of string

joy_str.find("Microsoft")

21

In [96]:
joy_str.split()

['Joy', 'is', 'Worked', 'in', 'the', 'Microsoft']

In [97]:
joy_str.split()[::-1]

['Microsoft', 'the', 'in', 'Worked', 'is', 'Joy']

In [106]:
# Input year
year = int(input("Enter a year: "))

# Check leap year using nested if
if year % 4 == 0:
    if year % 100 == 0:
        if year % 400 == 0:
            print(f"{year} is a leap year.")  
        else:
            print(f"{year} is not a leap year.")  
    else:
        print(f"{year} is a leap year.") 
else:
    print(f"{year} is not a leap year.")

Enter a year: 3030
3030 is not a leap year.

## Function in python and with practice

In [108]:
#Creation of Function
def my_function(name):
    print(name + " Hello i am Function")

my_function("pratham")

pratham Hello i am Function

In [111]:
def my_function(n):
    print(n + " is number of user ")
    
my_function("10")

10 is number of user

## Arbitary Function Argument ,* args

* if you do not known how many argument in the function, it can take the triples argument in the function.

In [117]:
def arbitary_function(*name):
    print("artifical intellegence is made by " + name[1])

arbitary_function("Pratham","Suthar","Mahendra")

artifical intellegence is made by Suthar

## keyword Argument (key = value )

In [119]:
def my_fc(a1,b1,c1):
    print("The world multi billonaire is " + b1)

my_fc(a1 = "elon musk",b1 = " pratham suthar",c1 = "ratan tata" )

The world multi billonaire is  pratham suthar

### Arbitary  keyword Arguments , **kwargs

In [125]:
def my_fc(**name):
    print("Top multi billonaire name is " + name["fname"])
 
my_fc(fname = "Pratham " , mname = "Mahendra" , lname = "Suthar")

Top multi billonaire name is Pratham

## Default parameter

In [126]:
def Def_para(course="BTech"):
    print("My Course join name is " + course)

Def_para()

My Course join name is BTech

In [127]:
Def_para("MCA")

My Course join name is MCA

In [128]:
Def_para("BCA")

My Course join name is BCA

# For Loop in python 

* 10 problems of For loop

In [145]:
#Counting the Neagtive and positive Numbers
Num = [1,-2,-3,4,5,-6,-7,9,10]
Sum = 0 
for x in Num:
    if x < 0:
        Sum +=1
                
print("Final Total Negative value is",Sum)

Final Total Negative value is 4

In [157]:
#Sum of even Number
Sum = 0 
for even in range(10):
    even+=1
    if even%2 == 0:
        print(even)
        Sum+=even
        
print("Sum of calculated Even Number :",Sum)

2
4
6
8
10
Sum of calculated Even Number : 30

In [12]:
#Multiplication of Table printer
n = 5 

for i in range(1,11):
    if i == 5:
        continue
    print(n,'X',i,'=',n*i)

5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
5 X 10 = 50

In [17]:
# Reverse the String fOR loop
my_String = "Pratham"
current_Str= ""
for i in my_String:
    current_Str = i + current_Str
    
    
    
print(current_Str)

mahtarP

In [36]:
#Find the First no reapting characters
Str1 = "Banana and Apple juice"

for char in Str1:
    if Str1.count(char) == 1:
        print("no reapting :",char)

no reapting : B
no reapting : d
no reapting : A
no reapting : l
no reapting : j
no reapting : u
no reapting : i
no reapting : c

In [13]:
# Factorial Calculator
User_Num = int(input("Enter the factorial nnumber: "))

fact =1 

while User_Num > 1:
    fact *= User_Num
    User_Num-=1
    
    
    
print(f"{User_Num} of factorial number is :",fact)

Enter the factorial nnumber: 4
1 of factorial number is : 24

In [1]:
#Validates input

while True:
    n = int(input("Enter the value b/w 1 to 10 :"))
    if n >= 1 and n <=10:
        print("Thank you")
        break
    else:
        print("Errror enter the value b/w 1 to 10")

Enter the value b/w 1 to 10 :3
Thank you

In [3]:
# Prime Number  or not check

n = int(input("Enter the value : "))

if n >1:
    for i in range(2,n):
        if(n%2)==0:
            print("Not a prime Number")
            break
        else:
            print("Prime Number")

Enter the value : 4
Not a prime Number