## Tutorial of python

Python is a programming Language .Now a day pyhton is very popular pragramming language , it not  a latest pragramming langauge  it's came in the picture in 1989 and java came in the pciture 1995 . So ,you ccan imagzine that how old this pragamming language is. this pragramming language is use in most of the field like Data Analystics ,Data Science ,A.I ,Data Enginner and many more

## What is Jupyter Notebook

* The jupyter Notebook is an open-source web application that allows data scientists to create and share documents that integrate live code ,equation,computational output,visulaization, and other multimedia resources,


* Uses include data cleaning and transformation ,numerical simulation ,statiscal modeling,data visualization ,machine learning and much more.

Jupyter Notebook is an open -source web application the allows to interact with python

# Advantage :-

* Interactive

* Result/output are stored so it is easy to review

* Friendly for documentation 

* No limitaion from performance 

* helpful shortcuts

* Industry standard for all data science ,ML , AI project 

Extension of jupyter file is ipynb ( python notebook ,previous name of jupyter )

# Short Cuts

[shift] + [enter] : run cell

Command mode:

* esc and c : insert cell above
* esc and b :insesrt cell below   
* esc and dd : delete cell
*  esc and z :undo a delete cell 
* esc and r :convert cell to raw cell 
* esc and m :convert cell to markdown cell

## Edit Mode :

Crtl+C: Copy a text 

Crtl+V : Paste 

Crtl+x: Cut 

Ctrl+z: undo

## __Keywords__

In [9]:
import keyword

In [11]:
keyword.kwlist # all reserved keywords in the python

['False',
 'None',
 'True',
 '__peg_parser__',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

In [18]:
len(keyword.kwlist)

36

## Identifiers


* An identifiers is the name given to entities like functions, variables etc.
* It helps in differentiating one entity from other .

In [30]:
str1 = "Hello first python code"

In [31]:
str1

'Hello first python code'

# Note

identifier can not br initiaite with digit 

identifier cannot use speacial symbol.

keywords cannot be used as identifier

# COMMENTS

* Single Line Comments
* Multiline comments

# Single line comments

In [34]:
a = 10 # this is defined that value can stored in the variable

# Multi line comments

In [39]:
""" This is multi line comments code\
It is my first python code \
"""

' This is multi line comments codeIt is my first python code '

In [40]:
p1 = " Hello i am code learner"

In [41]:
p1

' Hello i am code learner'

In [42]:
p2 = """ This is multi line comments code\
It is my first python code \
"""

In [43]:
p2

' This is multi line comments codeIt is my first python code '

In [44]:
p1 
p2

' This is multi line comments codeIt is my first python code '

In [45]:
p2
p1

' Hello i am code learner'

In [46]:
print(p2)
print(p1)

 This is multi line comments codeIt is my first python code
 Hello i am code learner

## variable

* A python variable is a reserved memory location to store values
* A variable is created the moment you first assign a value to it.

In [1]:
"Hello Everyone"

'Hello Everyone'

In [2]:
a1 = "I am pratham here"

In [3]:
a1

'I am pratham here'

In [4]:
k=30 # Variable creation

In [5]:
k # variable calling

30

## Multiple variables

In [6]:
a1 , k , float_variable = 12,23,1.34

In [7]:
a1

12

In [8]:
a1 
k 
float_variable

1.34

In [9]:
print(a1,k,float_variable) # multiple variable decalartion

12 23 1.34

# Single quotes and Multiple quotes

In [12]:
a = 'pratham'# single

In [13]:
a

'pratham'

In [14]:
a = "pratham"# multiple quotes

In [15]:
a

'pratham'

In [16]:
a = """pratham"""

In [17]:
a

'pratham'

# Variable Assignment

In [18]:
intvar = 12
floatvar= 2.3
str1 = " Hello "
intvar
floatvar
str1

' Hello '

## Multiple Assignment

In [19]:
intvar ,floatvar,str1 = 10 ,2.4,"Python is easy language"

In [20]:
print(intvar)

10

In [21]:
print(intvar,floatvar,str1)

10 2.4 Python is easy language

## Data Types

In [22]:
a= 12

In [23]:
type(a)

int

In [24]:
b =21.3

In [25]:
type(b)

float

In [26]:
x = "Lalu prasad"

In [27]:
x

'Lalu prasad'

## Find size of data types

In [32]:
import sys

In [37]:
a = 1.34

In [38]:
sys.getsizeof(a)

24

In [40]:
var1 = 120
print(var1)
print(type(var1))
print(sys.getsizeof(var1))

120
<class 'int'>
28

In [43]:
bool_Var = True
print(bool_Var)
print(type(bool_Var))
print(sys.getsizeof(bool_Var))
print(bool_Var,"is Boolen ? ",isinstance(bool_Var,bool))

True
<class 'bool'>
28
True is Boolen ?  True

In [44]:
str_value = "pratham"
print(bool_Var)
print(type(bool_Var))
print(sys.getsizeof(bool_Var))

True
<class 'bool'>
28

In [46]:
str1 = "Harshhhh"
str1

'Harshhhh'

In [47]:
sys.getsizeof(str1)

57

In [48]:
com = 23 +1j
print(com)
print(type(com))
print(sys.getsizeof(com))

(23+1j)
<class 'complex'>
32

## boolean

* boolean data types can have only two possible values true or false

In [2]:
bool1 = True

In [3]:
bool1

True

In [4]:
bool2 =False

In [5]:
bool2

False

In [6]:
type(bool1)

bool

In [7]:
type(bool2)

bool

In [21]:
str1= "Hello sir"
print(str1)

Hello sir

In [15]:
str1[::-1]

'ris olleH'

In [20]:
bool(20000)

True

In [22]:
type(str1)

str

In [23]:
str1[1]

'e'

In [24]:
str1[0::2]

'Hlosr'

In [25]:
str1[0:2]

'He'

In [26]:
str1[-2]

'i'

In [27]:
len(str1)

9

In [28]:
str1[6:]

'sir'

In [29]:
str1[:-1]

'Hello si'

In [30]:
str1[::-1]

'ris olleH'

In [31]:
str1.split()

['Hello', 'sir']

In [32]:
str1.split()[::-1]

['sir', 'Hello']

## str1[start:end:step]

In [39]:
str1[-1::2]

'r'

## update and Delete in string

In [40]:
str1 = "Hello i am pratham"
str1

'Hello i am pratham'

In [45]:
str2 = str1.replace("pratham","Hero")

In [46]:
str2

'Hello i am Hero'

In [47]:
del str2 # Delete a string

In [48]:
str2

NameError: name 'str2' is not defined

In [3]:
str4 = "Goriben"

In [4]:
str4

'Goriben'

In [5]:
myarr = ['rohan', 'raju', 'rohit']

In [6]:
myarr

['rohan', 'raju', 'rohit']

# String concatenation

In [7]:
s1 = " data"
s2 = "is a insight of any"

In [8]:
s1+s2

' datais a insight of any'

In [10]:
s1+" "+s2

' data is a insight of any'

In [12]:
str1 = s1+ " " +s2

In [13]:
str1

' data is a insight of any'

In [14]:
"Data" + " " + " Science"

'Data  Science'

### String Membership

In [15]:
str1 = "Hello i am pratham"
"Hello" in  # When the data present or not

True

In [16]:
"bhavik" in str1

False

## String using function

* Count,strip,slice,lower,upper,capitalize,startswith,endswith

In [45]:
str2 = "Hello kalu pathan " # Counting the Chararcter in String

In [46]:
s1 = str2.count("Hello")

In [47]:
s1

1

In [48]:
str2.strip()# it use to remove the whitespaces

'Hello kalu pathan'

In [49]:
str2.rstrip()# removes all the whitespace at the end

'Hello kalu pathan'

In [50]:
str2

'Hello kalu pathan '

In [51]:
str2.upper()# it use to captial all string value

'HELLO KALU PATHAN '

In [52]:
str2.lower()# it can use to small all the string value

'hello kalu pathan '

In [53]:
str2.capitalize()

'Hello kalu pathan '

In [57]:
str2.startswith("H ")

False

In [60]:
str2.endswith("e")

False

## TypeCasting

* Typecasting is to convert the one data types to another data types

* There are two types of typeecasting 
 1. Auto typecasting
 2. Force typecasting

In [61]:
#Force Typecasting
int1= 34

In [62]:
type(int1)

int

In [63]:
float(int1)

34.0

In [64]:
str(int1)

'34'

In [65]:
int(str1) # not to be convert the int to str

ValueError: invalid literal for int() with base 10: 'Hello i am pratham'

In [66]:
# Auto Typecasting

In [67]:
9 + True+ False

10

In [68]:
1.00 + True + 00.343 +11.233

13.576

In [69]:
True + 3.4

4.4

In [71]:
True+ 100 +False +'String' # you cannot add the string then it the error ok

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [74]:
str3 = " Method"
s2 = str3.isnumeric()

In [76]:
s2

False

# Operators

### Arethmatic operators

In [86]:
a =10
b= 20

In [87]:
a+ b

30

In [88]:
a-b

-10

In [89]:
a*b

200

In [90]:
a//b

0

In [91]:
a%b

10

In [92]:
a**b

100000000000000000000

# comparison operators

In [93]:
x = 10 
y = 20

In [106]:
print("X is greater than Y >> ",x > y)
print("x equal to y >>",x==y)
print("X is not equal to y ",x!=y)
print("x is less than y or equal to is ", x<=y)
print("x is greater than y or equal to is ",x>=y)

X is greater than Y >>  False
x equal to y >> False
X is not equal to y  True
x is less than y or equal to is  True
x is greater than y or equal to is  False

In [107]:
print("y is less than x >> ",y > x)
print("y equal to x>>",y==x)
print("y is not equal to x ",y!=x)
print("y is greater than x or equal to is ", y>=x)
print("y is less than x or equal to is ",y<=x)

y is less than x >>  True
y equal to x>> False
y is not equal to x  True
y is greater than x or equal to is  True
y is less than x or equal to is  False

## input Function

In [1]:
input()

1111

'1111'

In [4]:
# practic 1 input Function
User_Name= input("Enter the name:-")
User_Age = float(input("Enter the Age:-"))
User_Address = input("Enter the Address:-")
print("My name is :- ",User_Name)
print("My Age is ",User_Age)
print("My Address is",User_Address)

Enter the name:-pratham
Enter the Age:-12
Enter the Address:-Sigma nest
My name is :-  pratham
My Age is  12.0
My Address is Sigma nest

## if Condition

In [6]:
x = 4 
if x > 10:
    print("If condition is true")
print("Hello")

Hello

In [7]:
# if else condition and input condition
User = float(input("Enter the Age : "))
if User > 18:
    print("Vote de sakta hai tu")
else:
    print("Vote nhi de sakte hai")

Enter the Age : 12
Vote nhi de sakte hai

In [8]:
# ind vs aus 
ind_inn1 = 300
aus_inn1 = 200
if aus_inn1 > ind_inn1:
    print("Then the aus is winning this match")
elif aus_inn1 == ind_inn1:
    print("This match is draw") 
else:
    print("Then the india is winning this match")

Then the india is winning this match

## State block

In [13]:
if(5 > 4):
    print("5 is greater then 4 ")
    print("i am in inner if statement")
print("i am in outer if statment")

5 is greater then 4
i am in inner if statement
i am in outer if statment

In [18]:
# practice 2
user = int(input("Enter the value :-  "))
if user > 0:
    print("Postive integer")
elif user < 0:
    print("negative value")
else:
    print("Zero value")

Enter the value :-  67
Postive integer

In [23]:
#pratice 3
user1 = int(input("Enter the value :- "))
if user1%2==0:
    print("Even number")
else:
    print("Odd number")

Enter the value :- 2
Even number

In [5]:
str10 = "Software engineer"

In [13]:
str11 = str10[0:4:1][::-1]

In [20]:
str12 = str10[9:13:1][::-1]

In [21]:
str11

'tfoS'

In [22]:
str12

'igne'

In [25]:
str13 = str11 + " " + str12

In [26]:
str13

'tfoS igne'

In [27]:
str13[::-1]

'engi Soft'

# Date and Time method

In [28]:
from datetime import date

In [29]:
my_Date = date(2004,12,13)

In [30]:
my_Date

datetime.date(2004, 12, 13)

In [34]:
today_fc = date.today()

In [35]:
today_fc

datetime.date(2024, 12, 28)

In [38]:
today_fc.year

2024

In [39]:
today_fc.day

28

In [40]:
today_fc.month

12

In [41]:
today_fc.isoweekday()

6

In [43]:
from datetime import datetime as dt

In [46]:
date1 = dt.now()

In [48]:
date1

datetime.datetime(2024, 12, 28, 16, 54, 22, 799129)

In [49]:
dt.date(date1)

datetime.date(2024, 12, 28)

In [50]:
date1.microsecond

799129

In [51]:
date1.second

22

In [52]:
date1.hour

16

In [53]:
date1.isoweekday()

6

In [70]:
import calendar as cl

In [71]:
print(cl)

<module 'calendar' from 'C:\\Users\\tesla\\anaconda3\\lib\\calendar.py'>

In [72]:
year = 2004
month = 2

In [74]:
print(cl.month(year,month))

   February 2004
Mo Tu We Th Fr Sa Su
                   1
 2  3  4  5  6  7  8
 9 10 11 12 13 14 15
16 17 18 19 20 21 22
23 24 25 26 27 28 29

In [77]:
for i in range(12):
    month = i + 1
    print(cl.month(year,month))

    January 2004
Mo Tu We Th Fr Sa Su
          1  2  3  4
 5  6  7  8  9 10 11
12 13 14 15 16 17 18
19 20 21 22 23 24 25
26 27 28 29 30 31

   February 2004
Mo Tu We Th Fr Sa Su
                   1
 2  3  4  5  6  7  8
 9 10 11 12 13 14 15
16 17 18 19 20 21 22
23 24 25 26 27 28 29

     March 2004
Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7
 8  9 10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28
29 30 31

     April 2004
Mo Tu We Th Fr Sa Su
          1  2  3  4
 5  6  7  8  9 10 11
12 13 14 15 16 17 18
19 20 21 22 23 24 25
26 27 28 29 30

      May 2004
Mo Tu We Th Fr Sa Su
                1  2
 3  4  5  6  7  8  9
10 11 12 13 14 15 16
17 18 19 20 21 22 23
24 25 26 27 28 29 30
31

     June 2004
Mo Tu We Th Fr Sa Su
    1  2  3  4  5  6
 7  8  9 10 11 12 13
14 15 16 17 18 19 20
21 22 23 24 25 26 27
28 29 30

     July 2004
Mo Tu We Th Fr Sa Su
          1  2  3  4
 5  6  7  8  9 10 11
12 13 14 15 16 17 18
19 20 21 22 23 24 25
26 27 28 29 30 31

    August 2004
Mo Tu We Th Fr Sa Su
                   1
 2  3  4  5  6  7  8
 9 10 11 12 13 14 15
16 17 18 19 20 21 22
23 24 25 26 27 28 29
30 31

   September 2004
Mo Tu We Th Fr Sa Su
       1  2  3  4  5
 6  7  8  9 10 11 12
13 14 15 16 17 18 19
20 21 22 23 24 25 26
27 28 29 30

    October 2004
Mo Tu We Th Fr Sa Su
             1  2  3
 4  5  6  7  8  9 10
11 12 13 14 15 16 17
18 19 20 21 22 23 24
25 26 27 28 29 30 31

   November 2004
Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7
 8  9 10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28
29 30

   December 2004
Mo Tu We Th Fr Sa Su
       1  2  3  4  5
 6  7  8  9 10 11 12
13 14 15 16 17 18 19
20 21 22 23 24 25 26
27 28 29 30 31

# List - list is mutable data strurcture

* It can be changed after the creation of the List

In [81]:
list1 = ["1","2","3","4","5"]
list1

['1', '2', '3', '4', '5']

In [82]:
list1.reverse()

In [83]:
list1

['5', '4', '3', '2', '1']

In [106]:
list2

[]

In [107]:
list2.clear()

In [108]:
list2=[]

In [109]:
list2.append(3)

In [110]:
list2

[3]

In [112]:
list2.extend([1,2,3])

In [118]:
list2

[1, 2, 3, 3]

In [126]:
list3 = ["20","25","10","2","32"]

In [134]:
list3.sort()
list3

['10', '2', '20', '25', '32']

In [132]:
list3.sort(reverse = True)

In [133]:
list3

['32', '25', '20', '2', '10']